/*****************************************************
    메인화면
******************************************************/
/*메인 전체영역*/
.main{
    width: 80%;
    margin: auto;
}

/*메인 이미지 크기*/
.main1 > img{
    width: 100%;
    height: 400px;
}

/*이벤트1 텍스트*/
.event1_text{
    text-align: center;
    margin: 5rem;
}